In [2]:
import pandas as pd

# Load the provided dataset
data = pd.read_csv(r"C:\Users\DELL\Downloads\Global YouTube Statistics.csv")
data

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por A�,12300000,9.029610e+09,Sports,Natan por A�,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [3]:
# Check the data types of 'subscribers' and 'video views' columns
print(data['subscribers'].dtype)
print(data['video views'].dtype)

int64
float64

In [4]:
# Check for missing values in each column
missing_values = data.isna().sum()

# Display the columns with missing values and their counts
columns_with_missing_values = missing_values[missing_values > 0]
print(columns_with_missing_values)

category                                    46
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
Latitude                                   123
Longitude                                  123
dtype: int64

In [5]:
# List of columns with missing values
columns_with_missing_values = data.columns[data.isnull().any()].tolist()

In [6]:
# Handling missing values for numeric columns (imputation with mean)
numeric_columns = ['video_views_rank', 'country_rank', 'channel_type_rank', 'video_views_for_the_last_30_days',
                   'subscribers_for_last_30_days', 'created_year', 'created_month', 'created_date',
                   'Gross tertiary education enrollment (%)', 'Population', 'Unemployment rate',
                   'Urban_population', 'Latitude', 'Longitude']

In [7]:
# Convert columns to numeric and then fill missing values with the mean
for column in numeric_columns:
    data[column] = pd.to_numeric(data[column], errors='coerce')  # Convert to numeric, coerce errors to NaN
    data[column].fillna(data[column].mean(), inplace=True)

In [8]:
# Handling missing values for categorical columns (fill with a placeholder category)
categorical_columns = ['category', 'Country', 'Abbreviation', 'channel_type']

for column in categorical_columns:
    data[column] = data[column].fillna('Unknown')

In [9]:
# Display the columns with missing values after handling
missing_values = data.isna().sum()
columns_with_missing_values = missing_values[missing_values > 0]
print(columns_with_missing_values)

created_month    995
dtype: int64

In [10]:
# Check for missing values in the 'created_month' column
missing_created_month = data['created_month'].isna().sum()

In [11]:
# If there are missing values, you can fill them with a default value (e.g., 0 for unknown month)
if missing_created_month > 0:
    data['created_month'].fillna(0, inplace=True)

In [12]:
# Verify that the missing values in 'created_month' have been filled
missing_values = data.isna().sum()
columns_with_missing_values = missing_values[missing_values > 0]
print(columns_with_missing_values)

Series([], dtype: int64)

In [13]:
!pip install dash
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px

Requirement already satisfied: dash in c:\users\dell\anaconda3\lib\site-packages (2.13.0)
Requirement already satisfied: Flask<2.3.0,>=1.0.4 in c:\users\dell\anaconda3\lib\site-packages (from dash) (2.2.5)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from dash) (2.27.1)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from dash) (68.2.0)
Requirement already satisfied: Werkzeug<2.3.0 in c:\users\dell\anaconda3\lib\site-packages (from dash) (2.2.3)
Requirement already satisfied: nest-asyncio in c:\users\dell\anaconda3\lib\site-packages (from dash) (1.5.5)
Requirement already satisfied: plotly>=5.0.0 in c:\users\dell\anaconda3\lib\site-packages (from dash) (5.6.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\dell\anaconda3\lib\site-packages (from dash) (5.0.0)
Requirement already satisfied: ansi2html in c:\users\dell\anaconda3\lib\site-packages (from dash) (1.8.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: retrying in c:\users\dell\anaconda3\lib\site-packages (from dash) (1.3.4)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\dell\anaconda3\lib\site-packages (from dash) (4.7.1)
Requirement already satisfied: Jinja2>=3.0 in c:\users\dell\anaconda3\lib\site-packages (from Flask<2.3.0,>=1.0.4->dash) (3.1.2)
Requirement already satisfied: click>=8.0 in c:\users\dell\anaconda3\lib\site-packages (from Flask<2.3.0,>=1.0.4->dash) (8.1.7)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\dell\anaconda3\lib\site-packages (from Flask<2.3.0,>=1.0.4->dash) (4.11.3)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from Flask<2.3.0,>=1.0.4->dash) (2.1.2)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click>=8.0->Flask<2.3.0,>=1.0.4->dash) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\dell\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0->Flask<2.3.0,>=1.0.4->dash) (3.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from Jinja2>=3.0->Flask<2.3.0,>=1.0.4->dash) (2.1.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests->dash) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests->dash) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests->dash) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->dash) (3.3)

C:\Users\DELL\AppData\Local\Temp\ipykernel_10024\1118914147.py:3: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\DELL\AppData\Local\Temp\ipykernel_10024\1118914147.py:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [14]:
# Create the Dash app
app = dash.Dash(__name__)

In [15]:
# Define the layout of the dashboard
app.layout = html.Div([
    html.H1("YouTube Channel Rankings Dashboard", style={'textAlign': 'center'}),
    
    # Dropdown for selecting metrics
    dcc.Dropdown(
        id='metrics-dropdown',
        options=[
            {'label': 'Subscribers', 'value': 'subscribers'},
            {'label': 'Video Views', 'value': 'video views'},
            # Add more metrics as needed
        ],
        value='subscribers',
        style={'width': '50%'}
    ),
    
    # Search bar
    dcc.Input(
        id='search-bar',
        type='text',
        placeholder='Search for a Youtuber...',
        style={'width': '50%'}
    ),
    
    # Bar chart for rankings
    dcc.Graph(id='rankings-chart'),

    # Additional visualizations and components can be added here
])

# Callback to update the rankings chart based on user inputs
@app.callback(
    Output('rankings-chart', 'figure'),
    Input('metrics-dropdown', 'value'),
    Input('search-bar', 'value')
)
def update_rankings_chart(selected_metric, search_query):
    # Your code to update the chart based on user inputs goes here
    # You can filter and sort the data based on the selected_metric and search_query
    
    # Example: Create a bar chart of rankings
    if selected_metric == 'subscribers':
        sorted_data = data.sort_values(by='subscribers', ascending=False)
    else:
        sorted_data = data.sort_values(by='video views', ascending=False)
    
    if search_query:
        filtered_data = sorted_data[sorted_data['Youtuber'].str.contains(search_query, case=False)]
    else:
        filtered_data = sorted_data
    
    fig = px.bar(filtered_data, x='Youtuber', y=selected_metric, title=f'Channel Rankings by {selected_metric}')
    
    return fig

if __name__ == '__main__':
    app.run_server(debug=True)